<div id="ScrollDown"></div>
<section id="stat" class="large-pad about-content black-paper-bg text-white" style="padding: 30px 0 15px;">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="0">
					<div class="stat text-center"><span class="valor" data-from="0" data-to="{{campa.0.grupo_marcas}}">{{campa.0.grupo_marcas}}</span></div>
					<div class="stat-info text-center">Marcas</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="500">
					<div class="stat text-center"><span class="valor" data-from="0" data-to="{{campa.0.grupo_agencias}}">{{campa.0.grupo_agencias}}</span></div>
					<div class="stat-info text-center">Agencias</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="1000">
					<div class="stat text-center"><span class="valor" data-from="0" data-to="{{campa.0.grupo_ciudades}}">{{campa.0.grupo_ciudades}}</span></div>
					<div class="stat-info text-center">Ciudades</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="1500">
					<div class="stat text-center"><span class="valor" data-from="0" data-to="{{campa.0.grupo_profesionales}}">{{campa.0.grupo_profesionales}}17</span></div>
					<div class="stat-info text-center">Profesionales</div>
				</div>
			</div>
		</div><!--end of row-->
	</div><!--end of container-->
</section>
