<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-12">
			<div id="x-content-band-3" class="x-content-band x-content-band-trucks vc" style="margin: 0 auto; padding: 0;">
				{{#each campa}}
				<div class="x-column x-column-brand-agencie-trucks vc one-sixth action-brand-agencie">
					<a class="x-img x-img-logo-agencie-trucks x-img-margin x-img-link x-img-none none inner-link ttip_{{tltip}}_action_brand action-truck-agn"
						data-agn-trucks-agencie='{{agpshort}}'
						data-agn-trucks-name='{{agnnombre}}'
						data-agn-trucks-url='{{agnurl}}'
						data-agn-trucks-id='{{agnid}}'>
						<img src="../img/sitio/agencias/brands/{{logo}}" class="img-agn-trucks img-disable">
						{{#if marcas.length}}
						<span class="ttip_{{tltip}}_brands {{animate}}">
							<img src="../img/callout.png" class="ttip_callout">
							<div class="brands-icons text-center">
								<ul>
									{{#each marcas}}
										<li>
											<img src="../img/sitio/agencias/logos/{{brand}}" width="145">
										</li>
									{{/each}}
								</ul>
							</div>
						</span>
						{{/if}}
					</a>
				</div>
				{{/each}}
			</div>
		</div>

	</div>
</div>
