<!-- Place somewhere in the <body> of your page -->
<div class="flexslider">
    <ul class="slides">
        {{#each campa}}
        <li data-thumb="../img/sitio/blog/galerias/{{blogAgenciaShort}}/{{blogSubFolder}}/{{blogGaleria}}">
            <img src="../img/sitio/blog/galerias/{{blogAgenciaShort}}/{{blogSubFolder}}/{{blogGaleria}}">
        </li>
        {{/each}}
    </ul>
</div>
