<section class="slider" data-slider-id="{{campa.0.pic_mdo_folder}}">
    <div class="flexslider">
          <ul class="slides">
            {{#each campa}}
            <li data-thumb="../intranet/admin/cdn/img/seminuevos/{{pic_mdo_folder}}/{{pic_nombre}}"
                data-slider-pic_id="{{pic_id}}">
                <img src="../intranet/admin/cdn/img/seminuevos/{{pic_mdo_folder}}/{{pic_nombre}}"
                     data-slider-pic_id="{{pic_id}}">
            </li>
            {{/each}}
          </ul>
    </div>
</section>
