<table class="table-specifications table table-striped table-hover">
    <tbody>
        <tr>
            <td><span class="arrow_badge">Marca</span></td>
            <td>{{campa.0.marca}}</td>
        </tr>
        <tr>
            <td><span class="arrow_badge">Modelo</span></td>
            <td>{{campa.0.modelo}}</td>
        </tr>
        <tr>
            <td><span class="arrow_badge">Cilindros</span></td>
            <td>{{campa.0.cilindros}}</td>
        </tr>
        <tr>
            <td><span class="arrow_badge">Año</span></td>
            <td>{{campa.0.year}}</td>
        </tr>
        {{!--<tr>
            <td><span class="arrow_badge">Kilometraje</span></td>
            <td>{{campa.0.km}} km</td>
        </tr>
        <tr>
            <td><span class="arrow_badge">Transmisión</span></td>
            <td>{{campa.0.transmision}}</td>
        </tr>
        --}}
        <tr>
            <td><span class="arrow_badge">Interior</span></td>
            <td>{{campa.0.interior}}</td>
        </tr>
        <tr>
            <td><span class="arrow_badge">Color</span></td>
            <td>{{campa.0.color}}</td>
        </tr>
    </tbody>
</table>