<!-- =========================
     HERO SECTION
============================== -->
<section id="hero1-2" class="hero bg-video video-play">
    <div class="overlay"></div>
    <div class="container vertical-center-rel">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white p-t-md">Let's make something extraordinary together</h1>
                <p class="lead text-white m-b-md ">We have been collaborating with brands and agencies to build meaningful digital interactions since 2007</p>
                <a href="#portfolio1-1" class="btn btn-shadow btn-blue text-uppercase btn-md smooth-scroll">Featured Work</a>
            </div>
        </div><!-- /End Row -->
    </div><!-- /End Container -->
</section>



<!-- =========================
   FEATURES-TAB SECTION
============================== -->
<section id="features10-1" class="p-y-lg">

    <div class="container">
        <!-- Section Header -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-header text-center wow fadeIn">
                    <h2>Core Services. What we love to do.</h2>
                    <p class="lead">Our approach is simple and iterative. We believe in creating opportunities for passionate innovators that want to change the world.</p>
                </div>
            </div>
        </div><!-- /End Section Header -->


        <div class="row features-tab m-y">

            <!--Tab Item -->
            <div class="tab-title current">
                <p class="f-w-900 m-b-0">Discovery &amp; Strategy <i class="fa fa-caret-right i-right"></i></p>
            </div>
            <div class="tab-content content-align-md">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h4>Creating a results driven experience</h4>
                        <p class="p-tab m-b-md">Maiores ducimus aliquam est inventore quaerat quibusdam.</p>
                    </div>
                </div>
                <div class="row y-middle c2">
                    <div class="col-md-6">
                        <div class="features-block">
                            <div class="col-sm-12 icon-left m-b-md clearfix">
                                <i class="icon-target2"></i>
                                <h5 class="m-t f-w-900">Competitive Analysis</h5>
                                <p>Magni, inventore iusto, eum expedita, dolorum placeat in nisi quisquam autem iure, nemo sapiente ipsa obcaecati iure.</p>
                            </div>
                            <div class="col-sm-12 icon-left clearfix">
                                <i class="icon-strategy"></i>
                                <h5 class="m-t f-w-900">Digital Strategy</h5>
                                <p>Maxime reprehenderit soluta accusamus deleniti! Dolore nihil ipsam, veniam fugiat neque voluptas ex commodi doloribus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ _host }}img/bg-2.jpg" class="img-responsive m-x-auto" alt="">
                    </div>
                </div>
            </div><!-- /End Tab Content -->

            <!--Tab Item -->
            <div class="tab-title">
                <p class="f-w-900 m-b-0">Startup Support <i class="fa fa-caret-right i-right"></i></p>
            </div>
            <div class="tab-content">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h4>It's about making ideas happens</h4>
                        <p class="p-tab m-b-md">Omnis cumque nulla maiores recusandae blanditiis et explicabo nobis temporibus, aspernatur esse animi voluptates quasi harum ipsum quis nobis molestias.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img src="{{ _host }}img/bg-3.jpg" class="img-responsive m-x-auto" alt="">
                    </div>
                </div>
            </div><!-- /End Tab Content -->

            <!--Tab Item -->
            <div class="tab-title">
                <p class="f-w-900 m-b-0">Customer Experience Design <i class="fa fa-caret-right i-right"></i></p>
            </div>
            <div class="tab-content content-align-md">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h4>Thinking about users</h4>
                        <p class="p-tab m-b-md">Magni impedit nostrum dolorem velit ducimus unde eligendi tempora eligendi deserunt assumenda dolor neque minus voluptas at eveniet facere.</p>
                    </div>
                </div>

                <div class="row video y-middle c2">
                    <div class="col-md-8">
                        <img src="{{ _host }}img/bg-1.jpg" alt="" class="img-responsive m-x-auto">
                    </div>
                    <div class="col-md-4">
                        <h5 class="f-w-900">Experience design is a way of thinking</h5>
                        <p>Natus cumque odio sit harum facilis excepturi deleniti voluptatibus odit alias perspiciatis eligendi.</p>
                    </div>
                </div>
            </div><!-- /End Tab Content -->

            <!--Tab Item -->
            <div class="tab-title">
                <p class="f-w-900 m-b-0">Interactive Design &amp; Product Development<i class="fa fa-caret-right i-right"></i></p>
            </div>
            <div class="tab-content">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h4>Easy to use applications for every platform</h4>
                        <p class="p-tab m-b-md">Omnis cumque nulla maiores recusandae blanditiis et explicabo nobis temporibus, aspernatur esse animi voluptates quasi harum ipsum quis nobis molestias.</p>
                    </div>
                </div>

                <div class="row c2">
                    <div class="col-md-6">
                        <div class="features-block">
                            <div class="col-sm-12 icon-left m-b-md clearfix">
                                <i class="icon-mobile"></i>
                                <h5 class="m-t f-w-900">Responsive Design</h5>
                                <p>Magni, inventore iusto, eum expedita, dolorum placeat in nisi quisquam autem iure, nemo sapiente ipsa obcaecati iure.</p>
                            </div>
                            <div class="col-sm-12 icon-left clearfix">
                                <i class="icon-download2"></i>
                                <h5 class="m-t f-w-900">Third-party Integrations</h5>
                                <p>Maxime reprehenderit soluta accusamus deleniti! Dolore nihil ipsam, veniam fugiat neque voluptas ex commodi doloribus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="features-block">
                            <div class="col-sm-12 icon-left m-b-md clearfix">
                                <i class="icon-basket"></i>
                                <h5 class="m-t f-w-900">eCommerce / Retail</h5>
                                <p>Magni, inventore iusto, eum expedita, dolorum placeat in nisi quisquam autem iure, nemo sapiente ipsa obcaecati iure.</p>
                            </div>
                            <div class="col-sm-12 icon-left clearfix">
                                <i class="icon-tablet2"></i>
                                <h5 class="m-t f-w-900">Mobile Development</h5>
                                <p>Maxime reprehenderit soluta accusamus deleniti! Dolore nihil ipsam, veniam fugiat neque voluptas ex commodi doloribus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /End Tab Content -->

            <!--Tab Item -->
            <div class="tab-title">
                <p class="f-w-900 m-b-0">Content Managment <i class="fa fa-caret-right i-right"></i></p>
            </div>
            <div class="tab-content content-align-md">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h4>Keeping your site update</h4>
                        <p class="p-tab m-b-md">Magni impedit nostrum dolorem velit ducimus unde eligendi tempora eligendi deserunt assumenda dolor neque minus voluptas at eveniet facere.</p>
                    </div>
                </div>

                <div class="row features-block">
                    <div class="col-md-10 col-md-offset-1 img-left m-b clearfix">
                        <img src="{{ _host }}img/flat1.png" alt="">
                        <h5 class="m-t-md f-w-900">Content Marketing</h5>
                        <p>Odit non officiis vitae eaque quo temporibus blanditiis excepturi facilis, dolore provident et eligendi ut asperiores perferendis, maxime optio tempora.</p>
                    </div>
                    <div class="col-md-10 col-md-offset-1 img-left clearfix">
                        <img src="{{ _host }}img/flat3.png" alt="">
                        <h5 class="m-t-md f-w-900">SEO</h5>
                        <p>Omnis nam quibusdam fugiat consectetur quasi iste, aspernatur eaque doloremque, magni dolores deserunt impedit fugit error consequuntur esse. </p>
                    </div>
                </div>
            </div><!-- /End Tab Content -->

        </div><!-- /End Features-tab -->
    </div><!-- /End Container -->
</section>
<!-- /End Features-Tab Section-->




<!-- =========================
   PORTFOLIO
============================== -->
<section id="portfolio1-1" class="p-y-lg">

    <!-- Section Header -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-header text-center wow fadeIn">
                    <h2>Latest Projects</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque animi labore minus quidem eum voluptate, sapiente doloribus, molestias in explicabo totam.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- Portfolio Item -->
            <div class="col-md-4 col-sm-6 m-b-md clearfix">
                <div class="h caption-1 wow zoomIn">
                    <!-- Item Image -->
                    <figure><img src="{{ _host }}img/portfolio1-sm.jpg" class="img-responsive" alt="">
                        <!-- Item Caption -->
                        <figcaption>
                            <div class="caption-box vertical-center-abs text-center">
                                <h5>Tech Coffee</h5>
                                <p class="small">Liber theophrastus ea est, vel unum ubique feugait in. Has ne albucius tincidunt.</p>
                                <!-- View More Button -->
                                <a href="{{ _host }}img/portfolio1-xl.jpg" class="btn btn-blue m-b-0 mp-gallery" title="Project 1 - with description">View More</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- Portfolio Item -->
            <div class="col-md-4 col-sm-6 m-b-md clearfix">
                <div class="h caption-1 wow zoomIn" data-wow-delay="0.2s">
                    <!-- Item Image -->
                    <figure><img src="{{ _host }}img/portfolio2-sm.jpg" class="img-responsive" alt="">
                        <!-- Item Caption -->
                        <figcaption>
                            <div class="caption-box vertical-center-abs text-center">
                                <h5>Image Filter</h5>
                                <p class="small">Quodsi volutpat persequeris cu vel, sea te dolorum dissentiet. Per an dicunt causae, id ipsum.</p>
                                <!-- View More Button -->
                                <a href="{{ _host }}img/portfolio2-xl.jpg" class="btn btn-blue m-b-0 mp-gallery" title="Project 2 - with description">View More</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- Portfolio Item -->
            <div class="col-md-4 col-sm-6 m-b-md clearfix">
                <div class="h caption-1 wow zoomIn" data-wow-delay="0.4s">
                    <!-- Item Image -->
                    <figure><img src="{{ _host }}img/portfolio3-sm.jpg" class="img-responsive" alt="">
                        <!-- Item Caption -->
                        <figcaption>
                            <div class="caption-box vertical-center-abs text-center">
                                <h5>Clean Sheet</h5>
                                <p class="small">Rebum insolens vim ne, no per zril mnesarchum inciderint. Quo dicat audire interesset cu.</p>
                                <!-- View More Button -->
                                <a href="{{ _host }}img/portfolio3-xl.jpg" class="btn btn-blue m-b-0 mp-gallery" title="Project 3 - with description">View More</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- Portfolio Item -->
            <div class="col-md-4 col-sm-6 m-b-md clearfix">
                <div class="h caption-1 wow zoomIn" data-wow-delay="0.6s">
                    <!-- Item Image -->
                    <figure><img src="{{ _host }}img/portfolio4-sm.jpg" class="img-responsive" alt="">
                        <!-- Item Caption -->
                        <figcaption>
                            <div class="caption-box vertical-center-abs text-center">
                                <h5>Desktop Sound</h5>
                                <p class="small">Congue platonem ei usu, cu erroribus principes ius. Ea per case epicurei, iisque utroque corpora vis an.</p>
                                <!-- View More Button -->
                                <a href="{{ _host }}img/portfolio4-xl.jpg" class="btn btn-blue m-b-0 mp-gallery" title="Project 4 - with description">View More</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- Portfolio Item -->
            <div class="col-md-4 col-sm-6 m-b-md clearfix">
                <div class="h caption-1 wow zoomIn" data-wow-delay="0.8s">
                    <!-- Item Image -->
                    <figure><img src="{{ _host }}img/portfolio5-sm.jpg" class="img-responsive" alt="">
                        <!-- Item Caption -->
                        <figcaption>
                            <div class="caption-box vertical-center-abs text-center">
                                <h5>Morning Code</h5>
                                <p class="small">Volumus antiopam id his, nec et fabulas voluptua. Quot platonem maluisset vim et, cu accusam quaestio intellegat vel.</p>
                                <!-- View More Button -->
                                <a href="{{ _host }}img/portfolio5-xl.jpg" class="btn btn-blue m-b-0 mp-gallery" title="Project 5 - with description">View More</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- Portfolio Item -->
            <div class="col-md-4 col-sm-6 m-b-md clearfix">
                <div class="h caption-1 wow zoomIn" data-wow-delay="1s">
                    <!-- Item Image -->
                    <figure><img src="{{ _host }}img/portfolio6-sm.jpg" class="img-responsive" alt="">
                        <!-- Item Caption -->
                        <figcaption>
                            <div class="caption-box vertical-center-abs text-center">
                                <h5>Black &amp; White</h5>
                                <p class="small">Curabitur ultrices nec est nec vestibulum. Maecenas tincidunt pretium lacinia.</p>
                                <!-- View More Button -->
                                <a href="{{ _host }}img/portfolio6-xl.jpg" class="btn btn-blue m-b-0 mp-gallery" title="Project 6 - with description">View More</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div><!-- /End Portfolio Row-->

        <!-- Portfolio Footer Cta -->
        <div class="col-md-8 col-md-offset-2 text-center p-t-md wow fadeIn" data-wow-delay="0.8s">
            <h4 class="m-t f-w-900">We turn great ideas into brilliant realities.</h4>
            <p class="p-opacity m-b-md">Quis dolorem architecto nemo, enim pariatur, aliquid laudantium voluptatum animi. Adipisicing rerum, natus repellendus possimus et excepturi. Reprehenderit iste, laborum quod mollitia nesciunt.</p>
            <a href="#" class="btn btn-shadow btn-blue text-uppercase">View more Work</a>
        </div>

    </div><!-- /End Container -->
</section>
<!-- /End Portfolio Section -->


<!-- =========================
     TESTIMONIAL
============================== -->
<section id="testimonials3-2" class="p-y-lg bg-edit bg-blue">
    <div class="container">
        <!-- Section Header -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="m-b-md text-center text-white wow fadeIn">
                    <h2>What People Are Saying About Us</h2>
                    <p class="lead">Meet our happy clients and find why our Agency is the preferred choice.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 testimonials text-white">
                <!-- Testimonial Item -->
                <div class="col-md-4 text-center p-t-md  clearfix">
                    <blockquote class="quote-border">
                        <figure><img src="{{ _host }}img/testimonial1.jpg" class="img-circle" alt="" width="90" height="90"> </figure>
                        <p>Illum timeam maiestatis his te. Ei mel eirmod legendos, quis moderatius ea mea, vix viris dignissim contentiones no. Sint facilisis ad eam. Vix an illud assentiet.</p>
                        <div class="cite text-edit">
                            Carol Miller
                            <span class="cite-info p-opacity ">Awesome Lorem Studio</span>
                        </div>
                    </blockquote>
                </div>
                <!-- Testimonial Item -->
                <div class="col-md-4 text-center p-t-md clearfix">
                    <blockquote class="quote-border">
                        <figure><img src="{{ _host }}img/testimonial2.jpg" alt="" class="img-circle" width="90" height="90"> </figure>
                        <p>Natum mandamus qualisque id ius, an qui urbanitas pertinacia. Oblique deserunt qui cu, eum id bonorum inimicus prodesset. An pri maiorum constituam intellegebat.</p>
                        <div class="cite text-edit">
                            Brandon Riley
                            <span class="cite-info p-opacity">Smart Lorem Agency</span>
                        </div>
                    </blockquote>
                </div>
                <!-- Testimonial Item -->
                <div class="col-md-4 text-center p-t-md clearfix">
                    <blockquote class="quote-border">
                        <figure><img src="{{ _host }}img/testimonial3.jpg" alt="" class="img-circle" width="90" height="90"> </figure>
                        <p>Omnium voluptua mediocritatem usu ei, in pri nonumes periculis. Mea dictas audire quaerendum ex, has congue graeci mediocritatem in. Ut minimum deleniti.</p>
                        <div class="cite text-edit">
                            Jonathan Lawson
                            <span class="cite-info p-opacity">Intrepid Ipsum Enterpreneurs</span>
                        </div>
                    </blockquote>
                </div>
            </div><!-- /End Testimonial Col -->

        </div><!-- /End Row -->
    </div><!-- /End Container -->
</section>
<!-- /End Testimonial Section -->


{#
<!-- =========================
     CONTACT SECTION
============================== -->
<section id="contact3-1" class="p-y-lg contact bg-edit">
    <div class="container">
        <!-- Section Header -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-header text-center wow fadeIn">
                    <h2>Ready to Get Started?</h2>
                    <p class="lead">Want to hire the best people around to design, develop, and turn your project into reality? Well look no further! Take your business to the next level.</p>
                </div>
            </div>
        </div>

        <div class="row c2">
            <div class="col-md-6">
                <!-- Contact Form -->
                <h4 class="f-w-900 m-b-md">Drop us a line</h4>
                <form class="form-horizontal" id="contactForm">
                    <!-- Notifications -->
                    <p class="success cf text-center"><i class="fa fa-check"></i> <strong>Your message has successfully been sent.</strong></p>
                    <p class="failed cf text-center"><i class="fa fa-exclamation-circle"></i><strong> Something went wrong!</strong></p>

                    <div class="form-group">
                        <input type="text" class="form-control" id="cfName" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="cfEmail" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="cfSubject" placeholder="Subject" required>
                    </div>
                    <div class="form-group">
                        <textarea id="cfMessage" rows="5" class="form-control" placeholder="Your Message"  required></textarea>
                    </div>
                    <div class="form-group m-b-0">
                        <button type="submit" class="btn btn-blue wow pulse" data-wow-iteration="2">GIVE US A SHOUT</button>
                    </div>
                </form>
            </div><!-- /End Col -->

            <div class="col-md-6">
                <!-- Map and Contact Info -->
                <h4 class="f-w-900 m-b-md">Where we are</h4>
                <div class="m-b-md">
                    <iframe class="mini-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.836019454195!2d144.9532423152502!3d-37.81730974201917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4e793770d3%3A0x9e44d6ad0d76ba7c!2s121+King+St%2C+Melbourne+VIC+3000%2C+Australia!5e0!3m2!1sit!2sit!4v1445033865264" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-sm-6 p-l-0 mini-info">
                    <h5 class="f-w-900">Office Address</h5>
                    <p>121 King St<br>
                    Melbourne VIC 3000<br>
                    Australia</p>
                </div>
                <div class="col-sm-6 p-l-0 mini-info">
                    <h5 class="f-w-900">Contact Information</h5>
                    <p><strong>Local</strong>: (+012) 345 678 90<br>
                    <strong>Mobile</strong>: (+012) 345 678 90<br>
                    <a href="mailto:mail@themedept.com"><strong>mail@themedept.com</strong></a></p>
                </div>
            </div><!-- /End Col -->
        </div><!-- /End Row -->

    </div><!-- /End Container -->
</section>
<!-- /End Contact Section -->
#}


<!-- =========================
     FOOTER
============================== -->
<footer id="footer1-1" class="p-y-md footer f1 bg-edit bg-grey">
    <div class="container">
        <div class="row">
            <!-- Copy -->
            <div class="col-sm-8">
                <p>All rights reserved - Copyright &copy; 2016 GetLeads by <a href="http://themedept.com" class="f-w-900">Themedept</a></p>
            </div>
            <!-- Social Links -->
            <div class="col-sm-4">
                <ul class="footer-social">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div><!-- /End Row -->
    </div><!-- /End Container -->
</footer>
<!-- /End Footer -->