<div class="widget widget-shadow text-center" id="widgetUserList">
    <div class="widget-header cover overlay height-275 background-image-holder">
        <img class="cover-image height-200 background-image" src="../../img/dashboard/bg-agreement.jpg" alt="...">
        <div class="overlay-panel vertical-align">
            <div class="vertical-align-middle">
                <a class="avatar avatar-150">
                    <img src="../../img/dashboard/agreement.png" class="avatar-img agreement" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="widget-content padding-horizontal-20 text-left">
        <h3 class="panel-title" style="padding: 20px 0 0; border-bottom: 1px solid #e4eaec;">
            <i class="navi-nav-icons-agreement-v1 fa-2x" aria-hidden="true" style="vertical-align: middle;"></i>
            PRECIO EMPLEADO
        </h3>
        <p class="panel-paragraph">Al cumplir el primer año en el grupo obtienes el beneficio del precio empleado en todas las marcas que integramos <img src="../../img/logos/title-camcar-01.png" width="100" alt=". . ."></p>
        <ul class="list-group list-group-dividered list-group-full">
            <li class="list-group-item plr-10 clearfix">
                <div class="pull-right waves-init">
                    <a href="#/convenios" class="btn btn-block btn-primary btn-pulse btn-sm bg-red-camcar">
                        <span>Ver más</span>
                    </a>
                </div>
                <p>
                    <span class="uppercase"><b>nuevos y seminuevos</b></span>
                    <br>
                    <span class="uppercase">al costo mas 5%</span>
                </p>
            </li>
            <li class="list-group-item plr-10 clearfix">
                <div class="pull-right waves-init">
                    <a href="#/convenios" class="btn btn-block btn-primary btn-pulse btn-sm bg-red-camcar">
                        <span>Ver más</span>
                    </a>
                </div>
                <p>
                    <span class="uppercase"><b>Servicios y refacciones</b></span>
                    <br>
                    <span class="uppercase">al costo mas 10%</span>
                </p>
            </li>
            <li class="list-group-item plr-10 clearfix">
                <div class="pull-right waves-init">
                    <a id="go-brands-agreements" class="btn btn-block btn-primary btn-pulse btn-sm bg-red-camcar">
                        <span>Ver más</span>
                    </a>
                </div>
                <p>
                    <span class="uppercase"><b>Convenios con otras marcas</b></span>
                </p>
            </li>
        </ul>
        {{!--
        <h3 class="panel-title" style="padding: 20px 0 0; border-bottom: 1px solid #e4eaec;">
            <i class="navi-nav-icons-agreement-v1 fa-2x" aria-hidden="true" style="vertical-align: middle;"></i>
            CONVENIOS CON OTRAS MARCAS
        </h3>
        <ul class="list-group list-group-dividered list-group-full">
            <li class="list-group-item plr-10 clearfix">
                <div class="waves-init">
                    <a id="go-brands-agreements" class="btn btn-block btn-primary btn-pulse btn-sm bg-red-camcar">
                        <span>Ver más</span>
                    </a>
                </div>
            </li>
        </ul>
        --}}
    </div>
    {{!--
    <div class="widget-content padding-horizontal-20 text-left">
        <h3 class="panel-title" style="padding: 20px 0 0; border-bottom: 1px solid #e4eaec;">
            <i class="navi-nav-icons-agreement-v1 fa-2x" aria-hidden="true" style="vertical-align: middle;"></i>
            CONVENIOS
        </h3>
        <ul class="list-group list-group-dividered list-group-full">
            {{#each caminpa}}
            <li class="list-group-item">
                <div class="pull-right waves-init">
                    <a href="#/convenios" class="btn btn-block btn-primary btn-pulse btn-sm bg-red-camcar">
                        <i class="fa fa-building"></i>
                        <span>{{empresa}}</span>
                    </a>
                </div>
                <small class="label label-round label-primary pull-right waves-init">
                    <a class="hightlight" href="#/convenios">
                        <i class="fa fa-building"></i>
                        <span>{{empresa}}</span>
                    </a>
                </small>
                <p>
                    <span><b>{{titulo}}</b></span>
                    <br>
                    <span>{{descripcion_corta}}</span>
                </p>
                <small>
                    <a class="hightlight" href="#/convenios">
                        <i class="fa fa-building"></i>
                        <span>{{empresa}}</span>
                    </a>
                </small>
            </li>
            {{/each}}
        </ul>
    </div>
    --}}
</div>